# HW 6 - Data manipulation (continued)

## Task 1
Load the GLU.csv file from the "Data" folder. The file contains peak area and height information from LS/MS time series data from GLU aminoacid from different analyzed samples. Use pandas to do the following:
1. Load the data into a DataFrame data structure. You might need to do additional steps to create right indexing of DataFrame rows and columns. Explore the data.
2. Convert peak areas into isotope ratios.
3. Convert peak heights into isotope ratios.
4. Calculate the distance between the produced ratios from first and second method. Is it significant?
5. Merge all isotope ratios produced in different sample using mean strategy.

In [150]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import euclidean

In [151]:
file_path = "../Data/GLU.csv"
df = pd.read_csv(file_path)
df.set_index('Name', inplace=True)

df

,row ID,row m/z,row retention time,row number of detected peaks,All identity elements,ID,Identification method,Molecular formula,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13LRR_GLU.CDF peak status,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13LRR_GLU.CDF peak m/z,...,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13LR_GLU.CDF peak charge,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13LR_GLU.CDF peak duration time,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13L_GLU.CDF peak status,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13L_GLU.CDF peak m/z,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13L_GLU.CDF peak retention time,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13L_GLU.CDF peak height,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13L_GLU.CDF peak area,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13L_GLU.CDF peak charge,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13L_GLU.CDF peak duration time,Unnamed: 44
Name,,,,,,,,,,,,,,,,,,,,,
GLU+0,4,318.109985,0.924743,4,NaN,84,amino_acids.txt,C5H10N2O3,DETECTED,318.109985,...,0,0.896400,DETECTED,318.109985,0.803933,832512.0,5.936137e+06,0,0.893350,NaN
GLU+1,10,319.109985,0.924767,4,NaN,85,amino_acids.txt,C5H10N2O3,DETECTED,319.109985,...,0,0.853817,DETECTED,319.109985,0.806967,588288.0,3.748914e+06,0,0.916167,NaN
GLU+2,17,320.109985,0.923203,4,NaN,86,amino_acids.txt,C5H10N2O3,DETECTED,320.109985,...,0,0.945117,DETECTED,320.109985,0.799317,1467904.0,9.968483e+06,0,0.902450,NaN
GLU+3,29,321.109985,0.925980,4,NaN,87,amino_acids.txt,C5H10N2O3,DETECTED,321.109985,...,0,0.864433,DETECTED,321.109985,0.803933,651008.0,4.460062e+06,0,0.870550,NaN
GLU+4,37,322.109985,0.923517,4,NaN,88,amino_acids.txt,C5H10N2O3,DETECTED,322.109985,...,0,0.870550,DETECTED,322.109985,0.800833,631808.0,4.095963e+06,0,0.882683,NaN
GLU+5,45,323.109985,0.925967,2,NaN,89,amino_acids.txt,C5H10N2O3,MANUAL,323.109985,...,0,0.803583,DETECTED,323.109985,0.805450,179840.0,1.181424e+06,0,0.803583,NaN

In [152]:
area_cols = [col for col in df.columns if 'peak area' in col and 'C13L_GLU' in col]
height_cols = [col for col in df.columns if 'peak height' in col and 'C13L_GLU' in col]

print("Peak Area Columns:", area_cols)
print("Peak Height Columns:", height_cols)

area_data = df[area_cols].dropna()
height_data = df[height_cols].dropna()

Peak Area Columns: ['2015_JULY_21_LUBA_5T1_1_MRM_TABL_M3_C13L_GLU.CDF peak area', '2015_JULY_21_LUBA_5T2_1_MRM_TABL_M3_C13L_GLU.CDF peak area', '2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13L_GLU.CDF peak area']
Peak Height Columns: ['2015_JULY_21_LUBA_5T1_1_MRM_TABL_M3_C13L_GLU.CDF peak height', '2015_JULY_21_LUBA_5T2_1_MRM_TABL_M3_C13L_GLU.CDF peak height', '2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13L_GLU.CDF peak height']

In [153]:
print("Peak Area Data:")
area_data

Peak Area Data:

,2015_JULY_21_LUBA_5T1_1_MRM_TABL_M3_C13L_GLU.CDF peak area,2015_JULY_21_LUBA_5T2_1_MRM_TABL_M3_C13L_GLU.CDF peak area,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13L_GLU.CDF peak area
Name,,,
GLU+0,7.207852e+06,7.164950e+06,5.936137e+06
GLU+1,4.347988e+06,4.481048e+06,3.748914e+06
GLU+2,1.163300e+07,1.209870e+07,9.968483e+06
GLU+3,5.221957e+06,5.428504e+06,4.460062e+06
GLU+4,4.816643e+06,5.042100e+06,4.095963e+06
GLU+5,1.358126e+06,1.439834e+06,1.181424e+06

In [154]:
print("Peak Height Data:")
height_data

Peak Height Data:

,2015_JULY_21_LUBA_5T1_1_MRM_TABL_M3_C13L_GLU.CDF peak height,2015_JULY_21_LUBA_5T2_1_MRM_TABL_M3_C13L_GLU.CDF peak height,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13L_GLU.CDF peak height
Name,,,
GLU+0,1073408.0,511040.0,832512.0
GLU+1,660992.0,335552.0,588288.0
GLU+2,1717504.0,878592.0,1467904.0
GLU+3,781056.0,402432.0,651008.0
GLU+4,720128.0,367488.0,631808.0
GLU+5,206464.0,112192.0,179840.0

In [155]:
total_area = area_data.sum(axis=0)
area_ratios = area_data / total_area

print("Isotope Ratios from Peak Areas:")
area_ratios

Isotope Ratios from Peak Areas:

,2015_JULY_21_LUBA_5T1_1_MRM_TABL_M3_C13L_GLU.CDF peak area,2015_JULY_21_LUBA_5T2_1_MRM_TABL_M3_C13L_GLU.CDF peak area,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13L_GLU.CDF peak area
Name,,,
GLU+0,0.208406,0.200951,0.201971
GLU+1,0.125717,0.125677,0.127553
GLU+2,0.336354,0.339326,0.339168
GLU+3,0.150987,0.152250,0.151749
GLU+4,0.139267,0.141413,0.139361
GLU+5,0.039269,0.040382,0.040197

In [156]:
total_height = height_data.sum(axis=0)
height_ratios = height_data / total_height

print("Isotope Ratios from Peak Heights:")
height_ratios

Isotope Ratios from Peak Heights:

,2015_JULY_21_LUBA_5T1_1_MRM_TABL_M3_C13L_GLU.CDF peak height,2015_JULY_21_LUBA_5T2_1_MRM_TABL_M3_C13L_GLU.CDF peak height,2015_JULY_21_LUBA_5T3_1_MRM_TABL_M3_C13L_GLU.CDF peak height
Name,,,
GLU+0,0.208043,0.196004,0.191322
GLU+1,0.128110,0.128697,0.135196
GLU+2,0.332879,0.336974,0.337344
GLU+3,0.151381,0.154348,0.149610
GLU+4,0.139572,0.140946,0.145198
GLU+5,0.040016,0.043030,0.041330

In [157]:
area_ratios_values = area_ratios.values.flatten()
height_ratios_values = height_ratios.values.flatten()
distance = euclidean(area_ratios_values, height_ratios_values)

print(f"Euclidean Distance between Area and Height Ratios: {distance}")

threshold = 0.1
is_significant = distance > threshold
print(f"Is the distance significant? {'Yes' if is_significant else 'No'} (Threshold: {threshold})")

Euclidean Distance between Area and Height Ratios: 0.016869481246124862
Is the distance significant? No (Threshold: 0.1)

In [158]:
all_area_cols = [col for col in df.columns if 'peak area' in col]
all_height_cols = [col for col in df.columns if 'peak height' in col]

area_ratios_all = df[all_area_cols].div(df[all_area_cols].sum(axis=0), axis=1)
height_ratios_all = df[all_height_cols].div(df[all_height_cols].sum(axis=0), axis=1)

mean_area_ratios = area_ratios_all.mean(axis=1)
mean_height_ratios = height_ratios_all.mean(axis=1)

merged_ratios = pd.DataFrame({
    'Mean Area Ratios': mean_area_ratios,
    'Mean Height Ratios': mean_height_ratios
}, index=df.index)

print("Merged Isotope Ratios (Mean Strategy):")
print(merged_ratios)

Merged Isotope Ratios (Mean Strategy):
       Mean Area Ratios  Mean Height Ratios
Name
GLU+0          0.203386            0.202835
GLU+1          0.126421            0.128115
GLU+2          0.337952            0.333141
GLU+3          0.151983            0.153176
GLU+4          0.140478            0.141371
GLU+5          0.039779            0.041361

## Task 2.
Use pandas to manipulate LS/MS time series data. You have to complete the following tasks:

1. Process all the files in the "Data/LS_MS NL" folder: extract all peak's isotope ratios and put this information in a pandas DataFrame. Use hierarchical indexing to be able to attribute different information to the acquired data (e.g. aminoacid name, sample name, dilution). Try to select the most convinient way to store all the information about the peaks in one DataFrame.
2. Use pandas functionality to find out how istope fraction's values change from one sample to another for a certain aminoacid and given retention time. Calculate the max and min values and the mean value.
3. Output all peak retention times for a given amino acid.
4. For a given retention time output all the samples names, which have a peak detected at specified retention time.
5. Group all the corresponding peaks of certain aminoacid detected in different samples by getting the mean value for every mass across all the corresponding samples. You might have to do something about missing values.

In [159]:
import pandas as pd
import os
import glob


directory = "../Data/LS_MS NL"
file_paths = glob.glob(os.path.join(directory, "*.csv"))

print(f"Found {len(file_paths)} files:")
for f in file_paths:
    print(f" - {os.path.basename(f)}")

Found 3 files:
 - NL_5.csv
 - NL_20.csv
 - NL.csv

In [160]:
def get_peak_data(file_path):
    try:
        df = pd.read_csv(file_path)
    except Exception as e:
        print(f"Cannot read {os.path.basename(file_path)}: {e}")
        return []
    
    peaks = []
    for col in df.columns:
        if '.CDF peak m/z' in col:
            parts = col.split('_')
            if 'MRM' in parts:
                mrm_idx = parts.index('MRM')
                sample_name = '_'.join(parts[:mrm_idx]) 
                amino_acid = parts[-1].split('.CDF')[0].replace('C13L_', '') 
            else:
                print(f"Skipping column {col} in {os.path.basename(file_path)}: no 'MRM'")
                continue
            
            file_key = col.split('.CDF')[0]
            rt_col = f"{file_key}.CDF peak retention time"
            height_col = f"{file_key}.CDF peak height"
            
            if rt_col in df.columns:
                for _, row in df.iterrows():
                    if row[col] > 0 and row[rt_col] > 0:
                        aa_name = row['Name'].split('+')[0].split('-')[0] 
                        isotope = row['Name'].replace(aa_name, '') or '0'
                        mol_formula = row['Molecular formula']
                        
                        peaks.append({
                            'Sample': sample_name,
                            'Amino_Acid': aa_name,
                            'Isotope': isotope,
                            'Molecular_Formula': mol_formula,
                            'm/z': row[col],
                            'Retention_Time': row[rt_col],
                            'Height': row[height_col] if height_col in df.columns else 0
                        })
    
    return peaks


all_peaks = []
for file_path in file_paths:
    peaks = get_peak_data(file_path)
    if peaks:
        all_peaks.extend(peaks)
    else:
        print(f"No peaks extracted from {os.path.basename(file_path)}")

peak_df = pd.DataFrame(all_peaks)

peak_df

,Sample,Amino_Acid,Isotope,Molecular_Formula,m/z,Retention_Time,Height
0,2015_JULY_22_LUBA_NL_D5,CYS,-1,C3H7N1O2S1,580.640015,3.898267,10720.0
1,2015_JULY_22_LUBA_NL_D5,CYS,+0,C3H7N1O2S1,581.640015,3.905250,3188.0
2,2015_JULY_22_LUBA_NL_D5,CYS,+1,C3H7N1O2S1,582.640015,3.903467,1754.0
3,2015_JULY_22_LUBA_NL_D5,ARG,+0,C6H14N4O2,345.209991,2.687633,181760.0
4,2015_JULY_22_LUBA_NL_D5,ARG,+1,C6H14N4O2,346.209991,2.710233,16256.0
...,...,...,...,...,...,...,...
156,2015_JULY_21_LUBA_NL_1,ASP,-1,C4H7N1O4,303.109985,0.797367,1323.0
157,2015_JULY_21_LUBA_NL_1,ASP,+0,C4H7N1O4,304.109985,0.801267,4462592.0
158,2015_JULY_21_LUBA_NL_1,ASP,+1,C4H7N1O4,305.109985,0.802567,264256.0
159,2015_JULY_21_LUBA_NL_1,ASP,+2,C4H7N1O4,306.109985,0.801267,43136.0
160,2015_JULY_21_LUBA_NL_1,ASP,+3,C4H7N1O4,307.109985,0.809083,4133.0

In [161]:
def check_isotope_fractions(amino_acid, retention_time):
    filtered = peak_df[
        (peak_df['Amino_Acid'] == amino_acid) &
        (abs(peak_df['Retention_Time'] - retention_time) <= 0.01)
    ]
    
    if filtered.empty:
        print(f"No peaks for {amino_acid} at Retention Time {retention_time}")
        return
    
    fractions = filtered.groupby(['Sample', 'Isotope'])['Height'].sum().unstack(fill_value=0)
    fractions = fractions.div(fractions.sum(axis=1), axis=0)
    
    print(f"Isotope Fractions for {amino_acid} at Retention Time {retention_time}:")
    print(fractions.round(3))
    print("\nSummary:")
    print(f" - Highest: {fractions.max().round(3).to_dict()}")
    print(f" - Lowest: {fractions.min().round(3).to_dict()}")
    print(f" - Average: {fractions.mean().round(3).to_dict()}")


check_isotope_fractions('ASP', 0.8)

Isotope Fractions for ASP at Retention Time 0.8:
Isotope                     +0     +1     +2     +3   -1
Sample
2015_JULY_21_LUBA_NL_1   0.934  0.055  0.009  0.001  0.0
2015_JULY_22_LUBA_NL_D5  0.933  0.054  0.013  0.000  0.0

Summary:
 - Highest: {'+0': 0.934, '+1': 0.055, '+2': 0.013, '+3': 0.001, '-1': 0.0}
 - Lowest: {'+0': 0.933, '+1': 0.054, '+2': 0.009, '+3': 0.0, '-1': 0.0}
 - Average: {'+0': 0.934, '+1': 0.055, '+2': 0.011, '+3': 0.0, '-1': 0.0}

In [162]:
def list_retention_times(amino_acid):
    rts = peak_df[peak_df['Amino_Acid'] == amino_acid]['Retention_Time'].unique()
    
    print(f"Retention Times for {amino_acid}:")
    if len(rts) == 0:
        print(" - None")
    else:
        for rt in sorted(rts):
            print(f" - {rt:.3f}")


list_retention_times('ASP')

Retention Times for ASP:
 - 0.797
 - 0.799
 - 0.801
 - 0.801
 - 0.803
 - 0.803
 - 0.809
 - 0.827
 - 0.840
 - 1.216

In [163]:
def find_samples_at_rt(retention_time):
    samples = peak_df[
        abs(peak_df['Retention_Time'] - retention_time) <= 0.01
    ]['Sample'].unique()
    
    print(f"Samples with peaks at Retention Time {retention_time}:")
    if len(samples) == 0:
        print(" - None")
    else:
        for s in sorted(samples):
            print(f" - {s}")


find_samples_at_rt(2.9)

Samples with peaks at Retention Time 2.9:
 - 2015_JULY_21_LUBA_NL_1
 - 2015_JULY_22_LUBA_NL_D5

In [164]:
def average_peaks(amino_acid):
    aa_peaks = peak_df[peak_df['Amino_Acid'] == amino_acid]
    
    if aa_peaks.empty:
        print(f"No peaks for {amino_acid}")
        return
    
    averaged = aa_peaks.groupby(['Retention_Time', 'Isotope'])[['m/z', 'Height']].mean().unstack()
    mol_formula = aa_peaks['Molecular_Formula'].iloc[0]
    
    print(f"Average Peaks for {amino_acid} (Molecular Formula: {mol_formula}):")
    print(averaged.round(4))


average_peaks('PHE')

Average Peaks for PHE (Molecular Formula: C9H11N1O2):
                   m/z                                             Height  \
Isotope             +0      +1      +2      +3      +6      +7         +0
Retention_Time
5.821950           NaN     NaN     NaN     NaN     NaN  343.21        NaN
5.824350           NaN     NaN     NaN     NaN  342.21     NaN        NaN
5.831483           NaN     NaN     NaN     NaN  342.21     NaN        NaN
5.843450           NaN     NaN     NaN     NaN  342.21     NaN        NaN
5.845833        336.21     NaN     NaN     NaN     NaN     NaN   114128.0
5.853050           NaN  337.21     NaN     NaN     NaN     NaN        NaN
5.857817           NaN     NaN     NaN     NaN     NaN  343.21        NaN
5.881733        336.21     NaN  338.21     NaN     NaN     NaN  1229568.0
5.886500           NaN  337.21     NaN     NaN     NaN     NaN        NaN
5.888933           NaN     NaN     NaN  339.21     NaN     NaN        NaN
5.910433        336.21     NaN     NaN     NaN     NaN     NaN  4132864.0
5.915200           NaN  337.21     NaN     NaN     NaN     NaN        NaN
5.917583           NaN     NaN  338.21  339.21     NaN     NaN        NaN
5.963050           NaN     NaN  338.21     NaN     NaN     NaN        NaN


Isotope               +1       +2      +3      +6       +7
Retention_Time
5.821950             NaN      NaN     NaN     NaN  10648.0
5.824350             NaN      NaN     NaN  6573.0      NaN
5.831483             NaN      NaN     NaN  4334.0      NaN
5.843450             NaN      NaN     NaN  2580.0      NaN
5.845833             NaN      NaN     NaN     NaN      NaN
5.853050         12656.0      NaN     NaN     NaN      NaN
5.857817             NaN      NaN     NaN     NaN   6579.0
5.881733             NaN  12920.0     NaN     NaN      NaN
5.886500        133248.0      NaN     NaN     NaN      NaN
5.888933             NaN      NaN  1180.0     NaN      NaN
5.910433             NaN      NaN     NaN     NaN      NaN
5.915200        450496.0      NaN     NaN     NaN      NaN
5.917583             NaN  45536.0  4273.0     NaN      NaN
5.963050             NaN   2236.0     NaN     NaN      NaN