# Session 6 - Data manipulation (continued)

## Session agenda
1. Pandas: Series and DataFrame data structures.
2. Querying data structures, indexing.
3. Reshaping and pivoting of data sets.
4. Performing operations on Series and DataFrames.
5. Handling missing data.
6. Merging DataFrames.
7. Aggregating and transforming data by group or by functionality.

## pandas
pandas is built on top of NumPy.Today we will see a lot of points, which will be reminescent of what we have seen in NumPy. A lot of things, which you can do with NumPy array you can also do with pandas data structures.

The two basic data structures of pandas are Series and DataFrame data structures.

A Series is a one-dimensional array-like object containing an array of data (of any NumPy data type) and an associated array of data labels, called its index.

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered
collection of columns, each of which can be a different value type (numeric,
string, boolean, etc.). The DataFrame has both a row and column index; it can be
thought of as a dict of Series (one for all sharing the same index).

### Creating Series and DataFrames
We will now check different examples of creating pandas data structures.

A Series data structure can be created from basically any container type (e.g. list, tuple, dict, set and etc.)
The usual ways to create DataFrames are summarized below:

1. 2D ndarray - a matrix of data, passing optional row and column labels
2. dict of arrays, lists, or tuples - each sequence becomes a column in the DataFrame. All sequences must be the same length.
3. NumPy structured/record array - treated as the “dict of arrays” case
4. dict of Series - each value becomes a column. Indexes from each Series are unioned together to form the result’s row index if no explicit index is passed.
5. dict of dicts - each inner dict becomes a column. Keys are unioned to form the row index as in the “dict of Series” case.
6. list of dicts or Series - each item becomes a row in the DataFrame. Union of dict keys or Series indexes become the DataFrame’s column labels
7. list of lists or tuples - Treated as the “2D ndarray” case
8. another DataFrame - the DataFrame’s indexes are used unless different ones are passed

In [134]:
#Doing import once for the entire notebook
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

In [135]:
# Sample indexes to use
i1 = np.arange(5)
i2 = np.arange(0.,1.,.2)
i3 = ['a','b','c','d','e']
i4 = ['sample_1','sample_2','sample_3','sample_4','sample_5']

# Creating Series
print(Series((5,6,7,8,9),index=i1))
print(Series([1,4,7,2,8], index=i2))
print(Series(np.random.randn(5), index=i3))

0    5
1    6
2    7
3    8
4    9
dtype: int64
0.0    1
0.2    4
0.4    7
0.6    2
0.8    8
dtype: int64
a   -0.164558
b    1.485664
c    1.993509
d   -0.611370
e   -1.380486
dtype: float64

In [136]:
# Creating DataFrames
print(DataFrame([np.arange(5),np.arange(5,10),np.arange(10,15)]))
print(DataFrame(np.random.randn(5,5), index=i4, columns=i3))
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
print(DataFrame(data))
# Check out the table above other options of creating DataFrames

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
                 a         b         c         d         e
sample_1 -1.257675 -0.103393  1.002839  0.264139 -0.847316
sample_2 -1.903442 -0.405832  1.177500 -0.021255  1.761447
sample_3  0.403693 -1.370022  0.693562  0.055196  2.367731
sample_4  2.363010 -0.797972 -1.014689 -1.389512 -1.591996
sample_5 -2.590517 -2.057744 -0.052783 -0.190236  0.430150
   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

### Series and DataFrame indexing and slicing

In [137]:
#Basic slicing and indexing
df = DataFrame(data)
print(df.year)
print(df['year'])
print(df[1:3])
#.ix can also be used to index rows
print(df.ix[2])
#.columns can also be used to index columns
print(df.columns[2])
print(df.year[1])

0    2000
1    2001
2    2002
3    2001
4    2002
Name: year, dtype: int64
0    2000
1    2001
2    2002
3    2001
4    2002
Name: year, dtype: int64
   pop state  year
1  1.7  Ohio  2001
2  3.6  Ohio  2002
pop       3.6
state    Ohio
year     2002
Name: 2, dtype: object
year
2001

In [138]:
# Reindexing
df1 = DataFrame(np.random.randn(5,5), columns=i3, index=i4)
print(df1)
i5 = i4[1:]
i5.append('sample_6')
print('New index')
print(i5)
print('Reindexed DataFrame rows')
print(df1.reindex(i5))
print('Other strategies for filled in values')
print(df1.reindex(i5,method='ffill'))
print('Reindexing DataFrame columns')
print(df1.reindex(columns=i3[1:3]))

                 a         b         c         d         e
sample_1  1.210488  0.259335  1.179418 -0.244646 -0.918095
sample_2  0.610912 -0.444640  1.443535 -0.480085  2.472845
sample_3  0.007454  0.795321 -0.528711 -0.939383  0.545476
sample_4  0.630215 -0.010681  0.958657 -0.598138 -1.111613
sample_5 -0.234037  1.346291  1.394233  0.290787 -0.525443
New index
['sample_2', 'sample_3', 'sample_4', 'sample_5', 'sample_6']
Reindexed DataFrame rows
                 a         b         c         d         e
sample_2  0.610912 -0.444640  1.443535 -0.480085  2.472845
sample_3  0.007454  0.795321 -0.528711 -0.939383  0.545476
sample_4  0.630215 -0.010681  0.958657 -0.598138 -1.111613
sample_5 -0.234037  1.346291  1.394233  0.290787 -0.525443
sample_6       NaN       NaN       NaN       NaN       NaN
Other strategies for filled in values
                 a         b         c         d         e
sample_2  0.610912 -0.444640  1.443535 -0.480085  2.472845
sample_3  0.007454  0.795321 -0.528711 -0.939383  0.545476
sample_4  0.630215 -0.010681  0.958657 -0.598138 -1.111613
sample_5 -0.234037  1.346291  1.394233  0.290787 -0.525443
sample_6 -0.234037  1.346291  1.394233  0.290787 -0.525443
Reindexing DataFrame columns
                 b         c
sample_1  0.259335  1.179418
sample_2 -0.444640  1.443535
sample_3  0.795321 -0.528711
sample_4 -0.010681  0.958657
sample_5  1.346291  1.394233

In [139]:
# Most of other types of indexing, which we have used for NumPy arrays, can be applied to pandas data structures
# But we have to track the index instances
df1 = DataFrame(np.random.randn(5,5), columns=i3, index=i4)
print(df1)
#For index instances slicing includes the end element
print(df1['sample_1':'sample_3'])
print(df1[i3[:2]].ix[i4[3:]])
df1.loc[:2,3:] = 1
print(df1)
#Create a copy
df1[i3[:2]].ix[i4[3:]] = 0
print(df1)

                 a         b         c         d         e
sample_1 -0.564178 -0.262405 -1.229492 -0.177390  3.275841
sample_2 -2.165332 -1.074811  0.268541  0.159464 -1.498251
sample_3  0.516477 -0.298890  0.260034 -0.113057  0.518959
sample_4 -0.136005 -1.292736 -0.160664 -3.086166  0.075316
sample_5  1.095454 -0.655771  1.469205  0.784937 -0.346265
                 a         b         c         d         e
sample_1 -0.564178 -0.262405 -1.229492 -0.177390  3.275841
sample_2 -2.165332 -1.074811  0.268541  0.159464 -1.498251
sample_3  0.516477 -0.298890  0.260034 -0.113057  0.518959
                 a         b
sample_4 -0.136005 -1.292736
sample_5  1.095454 -0.655771
                 a         b         c         d         e
sample_1 -0.564178 -0.262405 -1.229492  1.000000  1.000000
sample_2 -2.165332 -1.074811  0.268541  1.000000  1.000000
sample_3  0.516477 -0.298890  0.260034 -0.113057  0.518959
sample_4 -0.136005 -1.292736 -0.160664 -3.086166  0.075316
sample_5  1.095454 -0.655771  1.469205  0.784937 -0.346265
                 a         b         c         d         e
sample_1 -0.564178 -0.262405 -1.229492  1.000000  1.000000
sample_2 -2.165332 -1.074811  0.268541  1.000000  1.000000
sample_3  0.516477 -0.298890  0.260034 -0.113057  0.518959
sample_4 -0.136005 -1.292736 -0.160664 -3.086166  0.075316
sample_5  1.095454 -0.655771  1.469205  0.784937 -0.346265

c:\python34\lib\site-packages\pandas\core\indexing.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
c:\python34\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [140]:
#Boolean indexing
print(df1)
#Need to convert to NumPy array from list
npi4 = np.array(i4)
print(df1[(npi4 == 'sample_2') | (npi4 == 'sample_4')])
print('\n')
print(df1[df1 < 0])

                 a         b         c         d         e
sample_1 -0.564178 -0.262405 -1.229492  1.000000  1.000000
sample_2 -2.165332 -1.074811  0.268541  1.000000  1.000000
sample_3  0.516477 -0.298890  0.260034 -0.113057  0.518959
sample_4 -0.136005 -1.292736 -0.160664 -3.086166  0.075316
sample_5  1.095454 -0.655771  1.469205  0.784937 -0.346265
                 a         b         c         d         e
sample_2 -2.165332 -1.074811  0.268541  1.000000  1.000000
sample_4 -0.136005 -1.292736 -0.160664 -3.086166  0.075316


                 a         b         c         d         e
sample_1 -0.564178 -0.262405 -1.229492       NaN       NaN
sample_2 -2.165332 -1.074811       NaN       NaN       NaN
sample_3       NaN -0.298890       NaN -0.113057       NaN
sample_4 -0.136005 -1.292736 -0.160664 -3.086166       NaN
sample_5       NaN -0.655771       NaN       NaN -0.346265

## Hierarchical Indexing
Hierarchical indexing is an important feature of pandas enabling you to have multiple
(two or more) index levels on an axis. Somewhat abstractly, it provides a way for you
to work with higher dimensional data in a lower dimensional form.

In [142]:
data = Series(np.random.randn(10),
              index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'],
                     [1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])

print(data)
print(data.index)
print(data['b':'c'])
print(data[:,2])

a  1    0.633544
   2   -0.643101
   3   -0.828501
b  1   -0.427717
   2   -0.642839
   3    0.164110
c  1   -0.576410
   2   -0.087753
d  2    0.149458
   3   -0.202405
dtype: float64
MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])
b  1   -0.427717
   2   -0.642839
   3    0.164110
c  1   -0.576410
   2   -0.087753
dtype: float64
a   -0.643101
b   -0.642839
c   -0.087753
d    0.149458
dtype: float64

## Reshaping and pivoting

In [143]:
#Stack and unstack
u_data = data.unstack()
print(u_data)
print(u_data.stack())

          1         2         3
a  0.633544 -0.643101 -0.828501
b -0.427717 -0.642839  0.164110
c -0.576410 -0.087753       NaN
d       NaN  0.149458 -0.202405
a  1    0.633544
   2   -0.643101
   3   -0.828501
b  1   -0.427717
   2   -0.642839
   3    0.164110
c  1   -0.576410
   2   -0.087753
d  2    0.149458
   3   -0.202405
dtype: float64

In [144]:
#Pivoting
data2 = {'time':[1,1,1,2,2,2,3,3,3,4,4,4],
        'mass':['m+0','m+1','m+2','m+0','m+1','m+2','m+0','m+1','m+2','m+0','m+1','m+2'],
        'sample_1':np.random.randn(12),
        'sample_2':np.random.randn(12)}
df7 = DataFrame(data2)
print(df7)

   mass  sample_1  sample_2  time
0   m+0 -1.558887  0.511669     1
1   m+1  0.618861 -0.339522     1
2   m+2 -1.337418 -0.141539     1
3   m+0  0.906607 -1.949280     2
4   m+1  0.280068 -0.187556     2
5   m+2 -1.308806 -0.197907     2
6   m+0 -1.017520 -1.737900     3
7   m+1  1.292099  0.339754     3
8   m+2 -1.636276  1.218481     3
9   m+0  0.525630 -0.498552     4
10  m+1  0.745133  0.210890     4
11  m+2 -0.959105 -0.087750     4

In [145]:
print(df7.pivot('time','mass','sample_1'))
print(df7.pivot('mass','time','sample_2'))
print(df7.pivot('time','mass'))

mass       m+0       m+1       m+2
time
1    -1.558887  0.618861 -1.337418
2     0.906607  0.280068 -1.308806
3    -1.017520  1.292099 -1.636276
4     0.525630  0.745133 -0.959105
time         1         2         3         4
mass
m+0   0.511669 -1.949280 -1.737900 -0.498552
m+1  -0.339522 -0.187556  0.339754  0.210890
m+2  -0.141539 -0.197907  1.218481 -0.087750
      sample_1                      sample_2
mass       m+0       m+1       m+2       m+0       m+1       m+2
time
1    -1.558887  0.618861 -1.337418  0.511669 -0.339522 -0.141539
2     0.906607  0.280068 -1.308806 -1.949280 -0.187556 -0.197907
3    -1.017520  1.292099 -1.636276 -1.737900  0.339754  1.218481
4     0.525630  0.745133 -0.959105 -0.498552  0.210890 -0.087750

## Vectorization and basic array manipulation
pandas has some overhead compared to NumPy, but it is still delivers better performance

In [146]:
size = 10000
print('List comprehension:')
test = np.arange(size)
%timeit -n 1000 result = [x ** 2 for x in test]

print('Map:')
test = np.arange(size)
%timeit -n 1000 result = list(map(lambda x: x ** 2, test))

print('NumPy:')
test = np.arange(size)
%timeit -n 1000 result = test ** 2

print('pandas:')
s_test = Series(test)
%timeit -n 1000 result = s_test ** 2

List comprehension:
1000 loops, best of 3: 2.65 ms per loop
Map:
1000 loops, best of 3: 3.67 ms per loop
NumPy:
1000 loops, best of 3: 7.62 µs per loop
pandas:
1000 loops, best of 3: 120 µs per loop

## Universal functions
NumPy universal function work fine with pandas objects. pandas has also a couple of additional handy features.

In [147]:
#Examples of universal function use
print(df1)
print(np.exp(df1))
print(np.sum(df1))
print(np.mean(df1))
# ... just the others

                 a         b         c         d         e
sample_1 -0.564178 -0.262405 -1.229492  1.000000  1.000000
sample_2 -2.165332 -1.074811  0.268541  1.000000  1.000000
sample_3  0.516477 -0.298890  0.260034 -0.113057  0.518959
sample_4 -0.136005 -1.292736 -0.160664 -3.086166  0.075316
sample_5  1.095454 -0.655771  1.469205  0.784937 -0.346265
                 a         b         c         d         e
sample_1  0.568827  0.769200  0.292441  2.718282  2.718282
sample_2  0.114712  0.341362  1.308054  2.718282  2.718282
sample_3  1.676113  0.741641  1.296974  0.893100  1.680277
sample_4  0.872838  0.274519  0.851578  0.045677  1.078225
sample_5  2.990539  0.519042  4.345778  2.192269  0.707325
a   -1.253584
b   -3.584612
c    0.607624
d   -0.414287
e    2.248010
dtype: float64
a   -0.250717
b   -0.716922
c    0.121525
d   -0.082857
e    0.449602
dtype: float64

In [148]:
#Apply method
print(df1)
print(df1.apply(lambda x: x.max() - x.min()))

def f(x):
    return Series([x.min(), x.max()], index=['min','max'])
print(df1.apply(f))
# Element-wise apply
print(df1.applymap(lambda x: '%.2f' % x))

                 a         b         c         d         e
sample_1 -0.564178 -0.262405 -1.229492  1.000000  1.000000
sample_2 -2.165332 -1.074811  0.268541  1.000000  1.000000
sample_3  0.516477 -0.298890  0.260034 -0.113057  0.518959
sample_4 -0.136005 -1.292736 -0.160664 -3.086166  0.075316
sample_5  1.095454 -0.655771  1.469205  0.784937 -0.346265
a    3.260785
b    1.030331
c    2.698697
d    4.086166
e    1.346265
dtype: float64
            a         b         c         d         e
min -2.165332 -1.292736 -1.229492 -3.086166 -0.346265
max  1.095454 -0.262405  1.469205  1.000000  1.000000
              a      b      c      d      e
sample_1  -0.56  -0.26  -1.23   1.00   1.00
sample_2  -2.17  -1.07   0.27   1.00   1.00
sample_3   0.52  -0.30   0.26  -0.11   0.52
sample_4  -0.14  -1.29  -0.16  -3.09   0.08
sample_5   1.10  -0.66   1.47   0.78  -0.35

## Handling missing data
Common methods, which deals with missing data:

1. dropna - filter axis labels based on whether values for each label have missing data, with varying thresholds for how much missing data to tolerate.
2. fillna - fill in missing data with some value or using an interpolation method such as 'ffill' or 'bfill'.
3. isnull - return like-type object containing boolean values indicating which values are missing / NA.
4. notnull - negation of isnull.

There are a multitude of different strategies for handling missing data. The way that the data was collected and processed will usually dictate that strategy

In [149]:
#Examples of handling missing data
#Filtering or cleaning
df2 = df1[df1 > -0.5]
print(df2)
print(df2.dropna())
df3 = df1[df1 < -0.5]
print(df3)
print(df3.dropna(how='all'))
print(df3.dropna(how='all',axis=1))
df4 = df1[df1 > 0]
print(df4)
print(df4.dropna(thresh = 2))

                 a         b         c         d         e
sample_1       NaN -0.262405       NaN  1.000000  1.000000
sample_2       NaN       NaN  0.268541  1.000000  1.000000
sample_3  0.516477 -0.298890  0.260034 -0.113057  0.518959
sample_4 -0.136005       NaN -0.160664       NaN  0.075316
sample_5  1.095454       NaN  1.469205  0.784937 -0.346265
                 a        b         c         d         e
sample_3  0.516477 -0.29889  0.260034 -0.113057  0.518959
                 a         b         c         d   e
sample_1 -0.564178       NaN -1.229492       NaN NaN
sample_2 -2.165332 -1.074811       NaN       NaN NaN
sample_3       NaN       NaN       NaN       NaN NaN
sample_4       NaN -1.292736       NaN -3.086166 NaN
sample_5       NaN -0.655771       NaN       NaN NaN
                 a         b         c         d   e
sample_1 -0.564178       NaN -1.229492       NaN NaN
sample_2 -2.165332 -1.074811       NaN       NaN NaN
sample_4       NaN -1.292736       NaN -3.086166 NaN
sample_5       NaN -0.655771       NaN       NaN NaN
                 a         b         c         d
sample_1 -0.564178       NaN -1.229492       NaN
sample_2 -2.165332 -1.074811       NaN       NaN
sample_3       NaN       NaN       NaN       NaN
sample_4       NaN -1.292736       NaN -3.086166
sample_5       NaN -0.655771       NaN       NaN
                 a   b         c         d         e
sample_1       NaN NaN       NaN  1.000000  1.000000
sample_2       NaN NaN  0.268541  1.000000  1.000000
sample_3  0.516477 NaN  0.260034       NaN  0.518959
sample_4       NaN NaN       NaN       NaN  0.075316
sample_5  1.095454 NaN  1.469205  0.784937       NaN
                 a   b         c         d         e
sample_1       NaN NaN       NaN  1.000000  1.000000
sample_2       NaN NaN  0.268541  1.000000  1.000000
sample_3  0.516477 NaN  0.260034       NaN  0.518959
sample_5  1.095454 NaN  1.469205  0.784937       NaN

In [150]:
#Filling in missing data
print(df4)
print(df4.fillna(0))
print(df4.fillna(method='ffill'))

                 a   b         c         d         e
sample_1       NaN NaN       NaN  1.000000  1.000000
sample_2       NaN NaN  0.268541  1.000000  1.000000
sample_3  0.516477 NaN  0.260034       NaN  0.518959
sample_4       NaN NaN       NaN       NaN  0.075316
sample_5  1.095454 NaN  1.469205  0.784937       NaN
                 a    b         c         d         e
sample_1  0.000000  0.0  0.000000  1.000000  1.000000
sample_2  0.000000  0.0  0.268541  1.000000  1.000000
sample_3  0.516477  0.0  0.260034  0.000000  0.518959
sample_4  0.000000  0.0  0.000000  0.000000  0.075316
sample_5  1.095454  0.0  1.469205  0.784937  0.000000
                 a   b         c         d         e
sample_1       NaN NaN       NaN  1.000000  1.000000
sample_2       NaN NaN  0.268541  1.000000  1.000000
sample_3  0.516477 NaN  0.260034  1.000000  0.518959
sample_4  0.516477 NaN  0.260034  1.000000  0.075316
sample_5  1.095454 NaN  1.469205  0.784937  0.075316

## Combining and Merging Data Sets
Data contained in pandas objects can be combined together in a number of built-in
ways:

1. merge - connects rows in DataFrames based on one or more keys. This will be familiar to users of SQL or other relational databases, as it implements database join operations.
2. concat - glues or stacks together objects along an axis.
3. combine_first - instance method, which enables splicing together overlapping data to fill in missing values in one object with values from another.

In [151]:
mf1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
mf2 = DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

print(pd.merge(mf1,mf2))
print(pd.merge(mf1,mf2, on='key'))

mf3 = DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
mf4 = DataFrame({'rkey': ['a', 'b', 'd'], 'data2': range(3)})
print(pd.merge(mf3, mf4, left_on='lkey', right_on='rkey'))

print(pd.merge(mf1, mf2, how='outer'))

mf5 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'], 'data1': range(6)})
mf6 = DataFrame({'key': ['a', 'b', 'a', 'b', 'd'], 'data2': range(5)})

print(pd.merge(mf5, mf6, on='key', how='left'))
print(pd.merge(mf5, mf6, how='inner'))

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0
   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0
   data1 lkey  data2 rkey
0      0    b      1    b
1      1    b      1    b
2      6    b      1    b
3      2    a      0    a
4      4    a      0    a
5      5    a      0    a
   data1 key  data2
0    0.0   b    1.0
1    1.0   b    1.0
2    6.0   b    1.0
3    2.0   a    0.0
4    4.0   a    0.0
5    5.0   a    0.0
6    3.0   c    NaN
7    NaN   d    2.0
    data1 key  data2
0       0   b    1.0
1       0   b    3.0
2       1   b    1.0
3       1   b    3.0
4       2   a    0.0
5       2   a    2.0
6       3   c    NaN
7       4   a    0.0
8       4   a    2.0
9       5   b    1.0
10      5   b    3.0
   data1 key  data2
0      0   b      1
1      0   b      3
2      1   b      1
3      1   b      3
4      5   b      1
5      5   b      3
6      2   a      0
7      2   a      2
8      4   a      0
9      4   a      2

In [152]:
left = DataFrame({'key1': ['foo', 'foo', 'bar'],
                  'key2': ['one', 'two', 'one'],
                  'lval': [1, 2, 3]})
right = DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                   'key2': ['one', 'one', 'one', 'two'],
                   'rval': [4, 5, 6, 7]})
print(pd.merge(left, right, on=['key1', 'key2'], how='outer'))
print(pd.merge(left, right, on='key1'))
print(pd.merge(left, right, on='key1', suffixes=('_left', '_right')))

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0
  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7
  key1 key2_left  lval key2_right  rval
0  foo       one     1        one     4
1  foo       one     1        one     5
2  foo       two     2        one     4
3  foo       two     2        one     5
4  bar       one     3        one     6
5  bar       one     3        two     7

## Merging on index
In some cases, the merge key or keys in a DataFrame will be found in its index. In this
case, you can pass left_index=True or right_index=True (or both) to indicate that the
index should be used as the merge key. Check this feature in the documantation or reference materials.

## Group by mechanics
Most group operation can be described by the split-apply-combine process.

In the first stage of the process, data contained in a pandas object, whether a Series, DataFrame, or otherwise, is split into
groups based on one or more keys that you provide. The splitting is performed on a
particular axis of an object. For example, a DataFrame can be grouped on its rows
(axis=0) or its columns (axis=1). Once this is done, a function is applied to each group,
producing a new value. Finally, the results of all those function applications are combined
into a result object. The form of the resulting object will usually depend on what’s
being done to the data.

In [153]:
#Examples
gdf = DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                'key2' : ['one', 'two', 'one', 'two', 'one'],
                'data1' : np.random.randn(5),
                'data2' : np.random.randn(5)})

print(gdf)
grouped = gdf['data1'].groupby(gdf['key1'])
print(grouped)
print(grouped.mean())
means = gdf['data1'].groupby([gdf['key1'], gdf['key2']]).mean()
print(means)
print(means.unstack())

#iterating over groups
print('Iterating over groups:')
for name, group in gdf.groupby('key1'):
    print(name, group)

      data1     data2 key1 key2
0  0.211274 -0.357062    a  one
1  0.186323 -0.968224    a  two
2  0.177146  1.984687    b  one
3 -0.316796  1.297375    b  two
4 -1.419189 -0.410050    a  one
<pandas.core.groupby.SeriesGroupBy object at 0x0776F350>
key1
a   -0.340531
b   -0.069825
Name: data1, dtype: float64
key1  key2
a     one    -0.603957
      two     0.186323
b     one     0.177146
      two    -0.316796
Name: data1, dtype: float64
key2       one       two
key1
a    -0.603957  0.186323
b     0.177146 -0.316796
Iterating over groups:
a       data1     data2 key1 key2
0  0.211274 -0.357062    a  one
1  0.186323 -0.968224    a  two
4 -1.419189 -0.410050    a  one
b       data1     data2 key1 key2
2  0.177146  1.984687    b  one
3 -0.316796  1.297375    b  two

In [154]:
#Selecting columns
g1 = gdf.groupby('key1')['data1']
g2 = gdf.groupby('key1')[['data2']]
#Equivalent to
gg1 = gdf['data1'].groupby(gdf['key1'])
gg2 = gdf[['data2']].groupby(gdf['key1'])

#Usually we will be grouping only over a small number of columns
print(gdf.groupby(['key1', 'key2'])[['data2']].mean())

              data2
key1 key2
a    one  -0.383556
     two  -0.968224
b    one   1.984687
     two   1.297375

In [155]:
#Other options to groupby with
#Grouping with dicts
people = DataFrame(np.random.randn(5, 5),
                   columns=['a', 'b', 'c', 'd', 'e'],
                   index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
print(people)
mapping = {'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f' : 'orange'}
by_column = people.groupby(mapping, axis=1)
print(by_column.sum())

               a         b         c         d         e
Joe    -1.997377 -1.466217 -0.894391  0.101571  0.074373
Steve  -0.781462 -1.122434 -0.272265 -0.320494 -0.187241
Wes    -1.270656 -0.085921  1.094874  0.567917 -0.688809
Jim     1.226688  0.363249 -0.634265  0.284112 -1.057895
Travis -0.156271 -0.852929  0.550426  0.202380  1.139974
            blue       red
Joe    -0.792821 -3.389220
Steve  -0.592759 -2.091137
Wes     1.662791 -2.045386
Jim    -0.350152  0.532043
Travis  0.752806  0.130774

In [156]:
#Grouping with function
print(people.groupby(len).sum())

          a         b         c         d         e
3 -2.041345 -1.188888 -0.433782  0.953600 -1.672330
5 -0.781462 -1.122434 -0.272265 -0.320494 -0.187241
6 -0.156271 -0.852929  0.550426  0.202380  1.139974

In [157]:
#Mixing grouping types
key_list = ['one', 'one', 'one', 'two', 'two']
print(people.groupby([len, key_list]).min())

              a         b         c         d         e
3 one -1.997377 -1.466217 -0.894391  0.101571 -0.688809
  two  1.226688  0.363249 -0.634265  0.284112 -1.057895
5 one -0.781462 -1.122434 -0.272265 -0.320494 -0.187241
6 two -0.156271 -0.852929  0.550426  0.202380  1.139974

In [158]:
#Grouping by index levels
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],[1, 3, 5, 1, 3]], names=['cty', 'tenor'])
hier_df = DataFrame(np.random.randn(4, 5), columns=columns)
print(hier_df)
print(hier_df.groupby(level='cty', axis=1).count())

cty          US                            JP
tenor         1         3         5         1         3
0      2.328130  0.904139 -1.223392 -1.134816 -2.799629
1      1.157060  1.402950 -0.435362 -1.219580 -1.421968
2      0.098276 -1.555883 -0.502759 -0.686335  0.777765
3     -0.063604 -0.440680  0.968237  0.433864 -0.725542
cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

## Data aggregation
Data transformations, which produce scalar values from arrays. We have already seen some of them applied to GroupBy object. There are a lot of aggregations, which you can perform. Even create your own aggregations, just checkout aggregate or agg method. pandas also provide a numver of optimized aggregate methods:

1. count - number of non-NA values in the group
2. sum - sum of non-NA values
3. mean - mean of non-NA values
4. median - arithmetic median of non-NA values
5. std, var - unbiased (n - 1 denominator) standard deviation and variance
6. min, max - minimum and maximum of non-NA values
7. prod - product of non-NA values
8. first, last - first and last non-NA values

## Group-wise operations and transformations
Apart from doing aggregations, there are other operations, which you can do with groups. There are two methods, which allow us to do all sorts of group-wise operations. Checkout transfrom and apply methods.

Apply is basically the most generic way of doing transfromations on the grouped by objects.

In [159]:
print(people)
key = ['one', 'two', 'one', 'two', 'one']
print(people.groupby(key).transform(np.mean))

def demean(arr):
    return arr - arr.mean()
demeaned = people.groupby(key).transform(demean)
print(demeaned)
print(demeaned.groupby(key).mean())

               a         b         c         d         e
Joe    -1.997377 -1.466217 -0.894391  0.101571  0.074373
Steve  -0.781462 -1.122434 -0.272265 -0.320494 -0.187241
Wes    -1.270656 -0.085921  1.094874  0.567917 -0.688809
Jim     1.226688  0.363249 -0.634265  0.284112 -1.057895
Travis -0.156271 -0.852929  0.550426  0.202380  1.139974
               a         b         c         d         e
Joe    -1.141435 -0.801689  0.250303  0.290623  0.175179
Steve   0.222613 -0.379592 -0.453265 -0.018191 -0.622568
Wes    -1.141435 -0.801689  0.250303  0.290623  0.175179
Jim     0.222613 -0.379592 -0.453265 -0.018191 -0.622568
Travis -1.141435 -0.801689  0.250303  0.290623  0.175179
               a         b         c         d         e
Joe    -0.855942 -0.664528 -1.144694 -0.189052 -0.100806
Steve  -1.004075 -0.742841  0.181000 -0.302303  0.435327
Wes    -0.129221  0.715768  0.844571  0.277295 -0.863989
Jim     1.004075  0.742841 -0.181000  0.302303 -0.435327
Travis  0.985163 -0.051240  0.300123 -0.088242  0.964795
                a             b             c             d             e
one -1.480297e-16 -3.700743e-17  3.700743e-17 -1.850372e-17  3.700743e-17
two  0.000000e+00  0.000000e+00  2.775558e-17  0.000000e+00  0.000000e+00